		<footer class="footer">
			<div class="footer-darkgreen"></div>
			<div class="footer-green"></div>
			<div class="container-fluid footer-lightgreen">
			<div class="d-md-flex flex-md-equal">
				<div class="overflow-hidden text-center">
					<img src="/media/img/tdc_grayscale.png" class="">
				</div>
				<div class="overflow-hidden text-center my-auto text-dark mt-4">
					<h5 class="text-white">Find us on social media</h5>
				</div>					
			</div>
			</div>
		</footer>