		<footer class="footer">
			<div class="footer-darkgreen"></div>
			<div class="footer-green"></div>
			<div class="container-fluid footer-lightgreen">
			<div class="d-md-flex flex-md-equal">
				<div class="overflow-hidden text-center">
					<img src="/media/img/tdc_grayscale.png" class="">
				</div>
				<div class="overflow-hidden text-center my-auto text-dark mt-4">
					<img src="/media/img/icons/facebook.svg" class="img-fluid mx-2" width="5%">
					<img src="/media/img/icons/twitter.svg" class="img-fluid mx-2" width="5%">
					<img src="/media/img/icons/email.svg" class="img-fluid mx-2" width="5%">
				</div>					
			</div>
			</div>
		</footer>