		<footer class="footer">
			<div class="footer-darkgreen"></div>
			<div class="footer-green"></div>
			<div class="container-fluid footer-lightgreen">
			<div class="d-md-flex flex-md-equal">
				<div class="overflow-hidden text-center">
					<img src="/media/img/tdc_grayscale.png" class="">
				</div>
				<div class="overflow-hidden text-center my-auto text-dark mt-4">
					<a href="https://www.facebook.com/TDConf"><img src="/media/img/icons/facebook.svg" alt="Facebook" class="img-fluid mx-2" width="5%"></a>
					<a href="https://twitter.com/TrondheimDC"><img src="/media/img/icons/twitter.svg" alt="Twitter" class="img-fluid mx-2" width="5%"></a>
					<a href="mailto:connect@trondheimdc.no"><img src="/media/img/icons/email.svg" alt="Email" class="img-fluid mx-2" width="5%"></a>
				</div>					
			</div>
			</div>
		</footer>