<!doctype html>
<html lang="en">
	<head>
		{{>header}}
	</head>
	<body>

		<!-- Navigation -->
		{{>navigation}}

		<!-- Content -->
		{{{body}}}

		<!-- Footer start -->
		{{>footer}}

		<!-- JavaScript start -->
		{{>javascript}}
	</body>
</html>
