		<!-- Jumbotron start -->
		<section class="jumbotron text-left bg-warning">

			<div class="container text-left d-md-flex flex-md-equal">
				<div class="overflow-hidden">
					<img src="/media/img/info_jumbotron.png" class="img-fluid">
				</div>
			</div>
		</section>
		<!-- Header end -->

		<!-- Content start -->
		<div id="index">
			<div class="container mb-5">
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white" >Welcome to TDC 2019</h2>
						<img src="/media/img/bg2.png" class="img-fluid pr-5 pt-3 float-right" width="30%">
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p>Trondheim Developer Conference – A community-driven conference for people in the Trondheim region will be seven years old in 2019! Don’t miss out on a day of inspiring tech talks, a day of hands-on sessions, mingling, and a great party!</p>

						<p>TDC is organized by several of Trondheim's meetups. Our goal is to organize a community-driven conference for the regions developers where they can learn new things, share knowledge, and socialize.</p>

						<p>We have been organizing TDC since 2012 and have been excited to watch the event grow bigger and better every year. In 2018 we hosted about 700 participants and 20 speakers across 5 parallel tracks. In addition, we also offered a selection of 9 workshops held on the day after the conference.</p>

						<p>We would not be what we are today without YOU! Thank you for your support and contributions over the years. Don’t procrastinate! Join your fellow developers at Trondheim Developer Conference on October 28th, 2019!</p>
					</div>
				</div>
			</div>

			<div class="container-fluid p-0 m-0">
				<div class="d-md-flex flex-md-equal">
					<img src="/media/img/coc_background.png" class="img-fluid">
				</div>
			</div>

			<div class="container-fluid third py-5 ">
				<div class="container">
					<div class="d-md-flex flex-md-equal">
						<div class="col-md-6">
							<h2 class="text-right pr-5 pt-4 text-white" >A FULL DAY OF KNOWLEDGE</h2>
						</div>
						<div class="col-md-6 text-left text-white mt-4">
							<p>A day full of talks from renowned Norwegian and international speakers, in varying formats and categories.</p>
						</div>
					</div>
					<div class="d-md-flex flex-md-equal">
						<div class="col-md-6">
							<h2 class="text-right pr-5 pt-4 text-white" >AN AFTER PARTY TO REMEMBER</h2>
						</div>
						<div class="col-md-6 text-left text-white mt-4">
							<p>Trondheim Developer Conference's traditional party takes place on the evening after the conference. After a long day of unique learning experiences, it feels good to chill out with some good food and drink.</p>

							<p>The party offers a great chance to catch up with old friends, and meet new ones!!</p>
						</div>
					</div>
					<div class="d-md-flex flex-md-equal">
						<div class="col-md-6">
							<h2 class="text-right pr-5 pt-4 text-white" >HANDS-ON WORKSHOPS</h2>
						</div>
						<div class="col-md-6 text-left text-white mt-4">
							<p>Do you prefer practical tasks more than theory? Take part in one of our great workshops and boost your knowledge and skills. Workshops will be held after the conference.<p>
						</div>
					</div>
					<div class="d-md-flex flex-md-equal">	
						<div class="col-md-6">
							<h2 class="text-right pr-5 pt-4 text-white" >... AND A WHOLE LOTTA LOVE</h2>
						</div>
						<div class="col-md-6 text-left text-white mt-4">
							<p>You will meet lots of interesting people at Trondheim Developer Conference! Grab your coffee and mingle away!<p>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid fourth pb-4 text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12 where text-left">
							<img src="/media/img/coc_background2.png" class="img-fluid img-info">
						</div>									
					</div>
				</div>
			</div>

			<div class="container fifth pt-5 pb-4 text-center">
				<div class="row">
					<div class="col-md-6 where text-right text-white pr-5">
						<h2>Questions?</h2>
					</div>
					<div class="col-md-6 where text-left text-white">
						<p>Do not hesitate to contact us if you have any questions. Contact us at <a href="mailto:connect@trondheimdc.no">connect@trondheimdc.no</a> and we we'll try our best to give you an answer.</p>

						<p>We are looking to seeing you at Trondheim Developer Conference 2019!</p>
					</div>									
				</div>
				<div class="row mt-5">
					<div class="col-md-6 where text-right text-white pr-5">
						<h2>Organizers</h2>
					</div>
					<div class="col-md-6 where text-left text-white">
						<p>TDC is organize by people from the IT-community in Trondheim, mostly as a cooperation between the many meetups in the area.</p>

						<p>The members of the 2019 Program Commitee are:</p>
						<ul>
							<li>Alexander Samsig (javaBin)</li>
							<li>Anders Aabakken (NNUG)</li>
							<li>Anders Kringstad (Dataforeningen)</li>
							<li>Hanne Bårdsen (Dataforeningen)</li>
							<li>Iver Jordal (Trondheim Machine Learning)</li>
							<li>Ketil Ingebrigtsen (Dataforeningen)</li>
							<li>Kristina Brend (Dataforeningen)</li>
							<li>Marvin Bredal Lillehaug (javaBin)</li>
							<li>Morten Moen (NNUG)</li>
							<li>Pål Fossmo (NNUG)</li>
							<li>Ronny Anderssen (Spillmakerlauget)</li>
							<li>Save Asmervik (Dataforeningen)</li>
							<li>Tina Haaskjold Behrens (IXDA)</li>
						</ul>
					</div>									
				</div>
			</div>				
		</div>
