		<!-- Jumbotron start -->
		<section class="jumbotron text-left bg-warning">

			<div class="container text-left d-md-flex flex-md-equal">
				<div class="overflow-hidden">
					<img src="/media/img/prt_jumbotron.png" class="img-fluid">
				</div>
			</div>
		</section>
		<!-- Header end -->

		<!-- Content start -->
		<div id="index">
			<div class="container first mb-5">
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white" >Register your interest</h2>
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p>Fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTF8Enin4i4uo13RINMKXdee7mkjZBG7PpNW5jnzJ7utXexw/viewform?usp=sf_link">our form</a> or <a href="mailto:connect@trondheimdc.no">send us an email</a>!</p>
					</div>
				</div>
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white">Last three year: Completely. Sold. Out.</h2>
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p>Last year, more than 800 people attended Trondheim Developer Conference. This was also the third year where we were completely sold out of both tickets AND partner stands. Based on this and feedback from last year's partners we‘ve got a feeling that we might sell out this year as well. So don‘t wait around if you want to be part of TDC 2019!</p>
					</div>
				</div>
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white">Our philosophy: Partners, not sponsors</h2>
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p>We want the expo area to be an attractive space where our partners and participants can hang out and spend time together. In previous years our partners have done a great job to help us achieve this goal, and we look forward to seeing what they bring to Trondheim Developer Conference 2019! TDC’s expo area is a vibrant, busy space full of life and activity. As a Partner you are not just supporting our conference economically – you participate in the event and help create a unique atmosphere.</p>
					</div>
				</div>			
			</div>

			<div class="container-fluid third py-5 ">
				<div class="container">
					<div class="col-md-12">
						<h2 class="text-center pr-5 pt-4 text-white" >Partners</h2>
					</div>
					<div class="col-lg-12 text-center text-white mt-4">
						<img src="/media/img/partners/bouvet.svg" width="18%">
						<img src="/media/img/partners/bouvet.svg" width="18%">
						<img src="/media/img/partners/bouvet.svg" width="18%">
						<img src="/media/img/partners/bouvet.svg" width="18%">
						<img src="/media/img/partners/bouvet.svg" width="18%">
					</div>
				</div>
			</div>			

			<div class="container-fluid p-0 m-0">
				<div class="d-md-flex flex-md-equal">
					<img src="/media/img/coc_background.png" class="img-fluid">
				</div>
			</div>
		</div>
