		<!-- Jumbotron start -->
		<section class="jumbotron text-left bg-warning">

			<div class="container text-left d-md-flex flex-md-equal">
				<div class="overflow-hidden">
					<img src="/media/img/jumbotron/speakers_jumbotron.png" class="img-fluid">
				</div>
			</div>
		</section>
		<!-- Header end -->

		<!-- Content start -->
		<div id="index">
			<div class="container mb-5 pb-5">
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white" >Call for speakers</h2>
						<img src="/media/img/bg2.png" class="img-fluid pr-5 pt-3 float-right" width="30%">
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p>Our call for presentations is now open! We are interested in all topics related to development and IT in generals</p>

						<p>The agenda will consists of multiple tracks for front-end, bag-end, agile developers, and digital design. The conference strives to reach a balance between local, national, and international speakers, and a relatively large share of call-for-presentation submissions.</p>

						<p>TDC is a noncommercial event where all profit goes towards next year's conference and other community events throughout the year in Trondheim. For example, some of the profits from TDC is used to rent a venue where all user groups can meetup throughout the year, and the statuetes of the conference is to help existing and new user groups to creat an arena where every developer in Trondheim can meet for great talks, lively discussions and networking</p>

						<!--<button type="button" class="btn btn-success mt-5 px-5 py-3 text-dark">Submit a proposal</button>-->
					</div>
				</div>
			</div>

			<div class="container-fluid info-border pb-4 text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12 where text-left">
							<img src="/media/img/speakers/speakers_01.jpg" class="img-fluid img-info">
						</div>									
					</div>
				</div>
			</div>

			<div class="container-fluid third py-5 ">
				<div class="container">
					<div class="d-md-flex flex-md-equal">
						<div class="col-md-6">
							<h2 class="text-right pr-5 pt-4 text-white" >What is it like speaking at Trondheim Developer Conference</h2>
						</div>
						<div class="col-md-6 text-left text-white mt-4">
							<p>TDC has become the most important IT event in the Trondheim area! You can see for yourself - 178 videos from previous years talks are available for free at Vimeo, and the full program from TDC 2018 is also available.</p>

							<p>We can brag as much as we want, but TDC would nothing without all the grat speakers! That's why we need your help to make sure that TDC 2019 will be at least as awesome as the earlier events. IUf you think you have something interesting to share, please submit your talk or workshop at the latest on June 3rd 2019.</p>

							<p>Trondheim Developer Conference is committed to diversity, and we are especially interested in quality submissions from groups that are under represented in tech.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="container my-5 pb-5">
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white" >Formats and durations</h2>
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p>You should think about which format your talk will work best in. Are you presenting a new ieda, or do you require more time to elaborate on your subject? How hands-on do you want to be? We have two formats you can present your material in.</p>

						<h5>Presentations</h5>
						<p>30 minutes</p>
						<p>Presentations at TDC are 30 minutes long.</p>
						
						<h5>Workshops</h5>
						<p>2 hours, 4 hours, 8 hours</p>
						<p>We will continue the popular workshop concept with a range of sessions on Tuesday October 29th and 30th. The format for the workshops is in-depth, hans-on and interactive</p>
					</div>
				</div>
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white" >Audience and topics</h2>
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p>TDC is a conference for developers and everything IT, with an emphasis on technical talks. However, we are open to talks about other areas, including methodology, project management, and other topics related to programming.</p>
					</div>
				</div>
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white" >Ongoing evaluation of talks</h2>
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p>Each year we receive many submissions and we consider each submissions as it arrives. Due to the large amount of submissions we can however not quarantee that you hear from us immediately. We do however answer all submissions and try to do so no later than in August.</p>

						<p>Our advice to you is simple. SUbmit early! The earlier you submit, the more likely you are to be noticed. Avoid drowning in the end-of-Call for Speakers tsunami!</p>

						<!--<button type="button" class="btn btn-success mt-5 px-3 py-3 text-dark">Some tips and tricks for your submission</button>-->
					</div>
				</div>				
			</div>

			<div class="container-fluid p-0 m-0">
				<div class="d-md-flex flex-md-equal">
					<img src="/media/img/speakers/speakers_02.jpg" class="img-fluid">
				</div>
			</div>

			<div class="container-fluid third py-5 ">
				<div class="container">
					<div class="d-md-flex flex-md-equal">
						<div class="col-md-6">
							<h2 class="text-right pr-5 pt-4 text-white" >What's in it for me?</h2>
						</div>
						<div class="col-md-6 text-left text-white mt-4">
							<p>You get free admission to to conference. Additionally you are also invited to the speakers's dinner, held on October 27th.</p>

							<p>Please see our reimbursement policy if you have any questions regarding coverage of other expenses.</p>
						</div>
					</div>
					<div class="d-md-flex flex-md-equal">
						<div class="col-md-6">
							<h2 class="text-right pr-5 pt-4 text-white" >Important principles</h2>
						</div>
						<div class="col-md-6 text-left text-white mt-4">
							<p>TDC is proud to be an independent and commuinity-driven conference. It is organized by volunteers from many of Trondheims IT-meetups and is run as a non-profit organization. This means that we have three important principles for selecting talks:</p>

							<ul>
								<li>We do not sell speaker slots</li>
								<li>We do not accept sales pitches masked as presentations</li>
								<li>We do not differentiate between speakers from partners and independent speakers</li>
							</ul>
						</div>
					</div>
				</div>				
			</div>

			<div class="container-fluid py-5 ">
				<div class="container">
					<div class="d-md-flex flex-md-equal">
						<div class="col-md-12">
							<h1 class="text-center pr-5 pt-4 text-white" >We hope to see you at TDC 2019 - Please feel free to spend the world to your local commuinity</h1>
						</div>
					</div>
				</div>				
			</div>				
		</div>