		<!-- Jumbotron start -->
		<section class="jumbotron text-left bg-warning">

			<div class="container text-left d-md-flex flex-md-equal">
				<div class="overflow-hidden">
					<img src="/media/img/jumbotron/ticket_jumbotron.png" class="img-fluid">
				</div>
			</div>
		</section>
		<!-- Header end -->

		<!-- Content start -->
		<div id="index">
			<div class="container mb-5">
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white" >Tickets to TDC 2019</h2>
						<img src="/media/img/bg3.png" class="img-fluid pr-5 pt-3 float-right" width="30%">
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p><a href="https://tdc.hoopla.no/sales/tdc2019">Tickets are available here!</a></p>
					</div>
				</div>
			</div>

			<div class="container first mb-5">
				<div class="d-md-flex flex-md-equal">
					<div class="col-md-6">
						<h2 class="text-right pr-5 pt-4 text-white" >More info about TDC?</h2>
					</div>
					<div class="col-md-6 text-left text-white mt-4">
						<p>We'll release more information about the conference continually, and the detailed program with information about all the talks will be ready in September.

						<p>Don't wait too long buying your ticket though – last year all of the tickets were sold, and we had waiting lists. We expect a decent amout of interest this year as well.</p>
					</div>
				</div>
			</div>

			<div class="container-fluid p-0 m-0">
				<div class="d-md-flex flex-md-equal">
				<img src="/media/img/coc_background.png" class="img-fluid">
			</div>
			</div>
		</div>
